body {
	background: grey;
	margin: 0;
}

header {
	max-width: 100%;
	background: black;
	height: 4em;
}

.content {
	margin: 0 auto;
	max-width: 80%;
	background: white;
	height: 50em;
}

.main{
	padding: 2em;
}

.title {
	text-align: center;
	text-transform: uppercase;
	font-family: Helvetica;	
}

.add{
	text-align: center;
}

.add > input {
	height: 2em;
	padding: 1em;
	border-radius: 4px;
}

.list {
	font-size: 1.2em;
	font-family: Arial;
	color: #555;
}

.list > ul {
	list-style-type: none;
}

.list > ul > li {
	border: 0.1em solid #555;
	padding: 0.5em;
	text-overflow: wrap;
	color: #555;
}

.delete {
	margin: 10px;
	border-radius: 5px;
	border: 2px solid #333;
	padding: 2px;
}
